extends layout/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")
//- 사전에 앞에 메인레이아웃에 메인 css 레이아웃을 적용해놨고 block styles 부분에 이후에 더 적용시킬 css를 붙여준다.
block content
    main
        form.product-form(action="/admin/add-product", method="POST")
            .form-control
                label(for="title") Title
                input(type="text", name="title")#title
            button.btn(type="submit") Add Product
